.env
./assets/uploads/model.png
./assets/uploads/0.png
./assets/uploads/1.png
./assets/uploads/2.png
./assets/uploads/3.png
./assets/uploads/4.png
./assets/uploads/5.png
./assets/uploads/6.png
./assets/uploads/7.png
./assets/uploads/8.png
